.edit-listing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f800;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.edit-listing-page h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.edit-listing-form {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.edit-listing-form div {
  margin-bottom: 15px;
}

.edit-listing-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #007bff; /* Make the label text blue */
  font-size: 1.1em; /* Increase font size slightly for better visibility */
}

.edit-listing-form input,
.edit-listing-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;;
  font-size: 1em;
  color: black
}

.edit-listing-form textarea {
  resize: vertical;
}

.edit-listing-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-listing-form button:hover {
  background-color: #0056b3; /* Slightly darker blue on hover */
}
