/* The side navigation */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
  
/* The navigation links inside the side menu */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	text-align: center;
}
  
/* Hover effect on the links */
.sidenav a:hover {
	color: #f1f1f1;
}
  
/* The close button at the top right */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

header {
	position: absolute;
	top: 15px;
	left: 17.8%;
	transform: translateX(-50%); /* Center the header horizontally */
	font-size: 32px; /* Customize font size */
	font-weight: bold; /* Make the header bold */
}

svg{
	height: calc(0.5em + 150%);
	width: calc(0.5em + 150%);
}

.note{
	width: 100%;
}

.task-card{
	min-height: 200px;
}

.task-details{
	padding-top: 40px;
}

  